node_modules
dist
server/dist
server/public
.DS_Store
vite.config.ts.*
*.tar.gz
*.zip
# Local Netlify folder
.netlify
# Vercel
.vercel
# Environment variables
.env
.env.local
.env*.local
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Build artifacts
*.map
.cache
